.weather-information {
  background-color: #1e213a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  width: 95%;
  .weather-date {
    color: white;
    font-size: 15px;
  }
  .weather-icon {
    margin-top: 10px;
  }
  .max-min {
    display: flex;
    gap: 10px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }
}
